.mainContactos{
    background-color: white;
    font-family: $fuenteMontserrat;
    color: $rosaPrincipal;

    h1{
        text-align: center;
    }
}
.formularioContacto{
    background-color: #FAEEF2;
    font-family: $fuenteHind;
    color: black;
    width: 90%;
    max-width: 37.5rem;
    margin: auto;
    padding: .3125rem 2.1875rem;
    margin-top: 1.25rem;
    padding-bottom: 1.875rem;
    border-radius: .1875rem;
    label{
        padding-top: .625rem;
        padding-bottom: .625rem;
        display: block;
        color: $rosaPrincipal;
        font-size: 1rem;
        position: relative;
    }
    input {
        background: rgba (0,0,0,.70);
        border: none;
        border-bottom: .125rem;
        color: 2px solid black ;
        width: 100%;
        padding: .75rem;
        margin-bottom: 1.25rem;
        border-radius: .125rem;
        font-size: .875rem;
        color: white;
        font-family: $fuenteMontserrat;
    }
    button{
        resize: vertical;
        max-height: 9.375rem;
        min-height: 3.125rem;
        width: 100%;
        font-family: $fuenteHind;
        cursor: pointer;
        transition: all .5s ease;
    }
    button{
        hoover {background: black;}

    }
}

.mapaContacto{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    text-align: center;

}