@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Molengo&family=Montserrat:wght@300&display=swap');
/** para llamar las fuentes para las paginas
font-family: 'Hind Madurai', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Molengo', sans-serif;
**/